---
import type { MarkdownHeading } from "astro";
import TableOfContents from "./TableOfContents";
import MoreMenu from "./MoreMenu.astro";

type Props = {
  headings: MarkdownHeading[];
  githubEditUrl: string;
};

const { headings, githubEditUrl } = Astro.props;
---

<div>
  <nav class="sticky top-[6.5rem] hidden lg:block w-80">
    <TableOfContents
      client:load
      client:media="(min-width: 50em)"
      headings={headings}
    />
    <MoreMenu editHref={githubEditUrl} />
  </nav>
</div>
