---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="404: No encontrado" is404>
  <div class="flex justify-center gap-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 133 234"
      class="fill-primary h-32 sm:h-40 animate-[swing_ease-in-out_1.5s_infinite_alternate]"
    >
      <path
        d="M72.5466868 198.372928H0v-31.425414L48.1896202 0h35.404619L33.4376957 166.947514h39.1089911v-66.451658h33.4376952v66.451658h26.061734v31.425414h-26.061734v34.698895H72.5466868z"
      ></path>
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 148 237"
      class="h-32 sm:h-40 animate-[swing2_ease-in-out_1.5s_infinite_alternate]"
    >
      <path
        class="fill-current"
        d="M73.7248244 99.0085911 105.5 86.5v11.1053837l-20.45901639 6.3745705v.4009164L105.5 110.755441V121.5l-31.8126464-12.5486827L41.5 121.5v-10.7044674l20.5714286-6.4948453v-.6815579L41.5 96.8436426V86.5z"
      ></path>
      <path class="fill-current" d="M38 130h68v10H38z"></path>
      <path
        d="M62.0351542 140C62.0118227 140.3463381 62 140.7095981 62 141.0905484 62 152.0862349 71.8497355 161 84 161s22-8.9137651 22-19.9094516c0-.3809503-.0118227-.7442103-.0351542-1.0905484H62.0351542Z"
        fill="#F75757"></path>
      <path
        d="M.96165605 50.0842541c0-7.8563928 2.00257889-14.8397484 6.00779676-20.9502762 4.00521789-6.1105278 9.37212929-11.3480445 16.10089529-15.7127072 6.7287661-4.36466269 14.4987722-7.69266808 23.3102515-9.984116C55.1920789 1.14570677 64.4039418 0 74.0164647 0c9.6125229 0 18.8243858 1.14570677 27.6358653 3.4371547 8.811479 2.29144792 16.581485 5.61945331 23.310251 9.984116 6.728766 4.3646627 12.095678 9.6021794 16.100896 15.7127072 4.005217 6.1105278 6.007796 13.0938834 6.007796 20.9502762V186.915746c0 7.856393-2.002579 14.839748-6.007796 20.950276-4.005218 6.110528-9.37213 11.348045-16.100896 15.712707-6.728766 4.364663-14.498772 7.692668-23.310251 9.984116C92.8408505 235.854293 83.6289876 237 74.0164647 237c-9.6125229 0-18.8243858-1.145707-27.6358651-3.437155-8.8114793-2.291448-16.5814854-5.619453-23.3102515-9.984116-6.728766-4.364662-12.0956774-9.602179-16.10089529-15.712707-4.00521787-6.110528-6.00779676-13.093883-6.00779676-20.950276V50.0842541ZM29.9573833 186.473826c0 4.801129 9.7452043 14.840577 17.9573686 18.004957 8.2121643 3.164381 13.1313191 5.042919 26.0361487 5.042919 12.9048296 0 22.0921906-3.143097 30.3043544-6.307477 8.212165-3.164381 13.689163-11.93927 13.689163-16.740399V49.6423343c0-4.801129-8.672651-12.782307-16.884816-15.9466875-8.212164-3.1643805-14.2038718-5.437045-27.1087014-5.437045-12.9048296 0-19.81884 2.2726645-28.0310043 5.437045-8.2121643 3.1643805-15.962513 11.1455585-15.962513 15.9466875V186.473826Z"
        class="fill-primary"></path>
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 133 234"
      class="fill-primary h-32 sm:h-40 animate-[swing3_ease-in-out_1.5s_infinite_alternate]"
    >
      <path
        d="M72.5466868 198.372928H0v-31.425414L48.1896202 0h35.404619L33.4376957 166.947514h39.1089911v-66.451658h33.4376952v66.451658h26.061734v31.425414h-26.061734v34.698895H72.5466868z"
      ></path>
    </svg>
  </div>

  <h1 class="text-center text-3xl mt-5">¡Página no encontrada!</h1>
</BaseLayout>

<style is:inline>
  @keyframes swing {
    0% {
      transform: rotate(3deg);
    }
    100% {
      transform: rotate(-3deg);
    }
  }

  @keyframes swing2 {
    0% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(3deg);
    }
  }
  @keyframes swing3 {
    0% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(8deg);
    }
  }
</style>
