---
import BaseLayout from '@/layouts/BaseLayout.astro'
import About from '@/components/About.astro';
import TimeLineElement from '@/components/TimeLine.astro'
---

<BaseLayout title="Hoja de vida">
	<div class="mb-5">
		<span class="text-4xl font-bold dark:text-white">Perfil</span>
	</div>

	<About />

	<div class="mt-12 mb-8">
		<span class="text-4xl font-bold dark:text-white">Experiencia</span>
	</div>

	<ol class="relative border-s border-neutral-200 dark:border-neutral-700">
		<TimeLineElement
			title="Consultor"
			subtitle="Nov 2025 - actualmente en TCM Partners, Bogotá, Colombia"
			modality="En remoto"
		>
			<p class="list-disc my-6">Desarrollo de nuvas funcionalidades para la tesorería de Banco ITAU:</p>
			<ul class="list-disc pl-5 my-6">
				<li>SQL Server</li>
				<li>C#</li>
			</ul>
		</TimeLineElement>

		<TimeLineElement
			title="Desarrollador FullStack"
			subtitle="Feb 2023 - Oct 2025 en Tata Consultancy Services, Bogotá, Colombia"
			modality="En remoto"
		>
			<p class="list-disc my-6">Desarrollo de aplicativos para Bancolombia:</p>
			<ul class="list-disc pl-5 my-6">
				<li>Backend con SpringBoot y Java</li>
				<li>Frontend con NextJS, Angular</li>
				<li>Pruebas unitarias con Mockito y Jest</li>
				<li>Pruebas de aceptación con Cucumber</li>
			</ul>
		</TimeLineElement>

		<TimeLineElement
			title="Desarrollador FullStack"
			subtitle="Mar 2022 - Ene 2023 en Indra, Bogotá, Colombia"
			modality="En remoto"
		>
			<ul class="list-disc pl-5 my-6">
				<li>
					Desarrollo de aplicativo móvil Lending para Tigo Millicom con Flutter
				</li>
				<li>Desarrollo de pruebas usando Cucucumber, Serenity</li>
			</ul>
		</TimeLineElement>

		<TimeLineElement
			title="Desarrollador FullStack"
			subtitle="Oct 2021 - Feb 2022 en DB System, Bogotá, Colombia"
			modality="En remoto"
		>
			<ul class="list-disc pl-5 my-6">
				<li>
					Desarrollo de aplicativo web en Angular para universidad de
					Cundinamarca.
				</li>
				<li>Manejo de servidor Tomcat para despliegue de aplicaciones.</li>
				<li>Manejo de base de datos Oracle y PostgreSQL.</li>
			</ul>
		</TimeLineElement>

		<TimeLineElement
			title="Desarrollador FullStack"
			subtitle="Jul 2019 - Sep 2021 en Solredes, Bogotá, Colombia"
			modality="Híbrido"
		>
			<ul class="list-disc pl-5 my-6">
				<li>
					Desarrollo de aplicativos móviles con Flutter para municipio de Sopó.
				</li>
				<li>
					Desarrollo de aplicativo móvil en Flutter para seguimiento de camiones
					y gestión de tickets para Transpremier LLC.
				</li>
				<li>
					Desarrollo de suite administrativa creada en Angular y Spring Boot
					para el municipio de Sopó.
				</li>
				<li>Manejo de servidores Wildfly para despliegue de aplicativos.</li>
				<li>Manejo de base de datos MySQL, Oracle y Postgresql.</li>
				<li>
					Desarrollo de aplicativo web y móvil para manejo de reciclaje con
					React y Flutter.
				</li>
			</ul>
		</TimeLineElement>
	</ol>

	<div class="mt-12 mb-8">
		<span class="text-4xl font-bold dark:text-white">Educación</span>
	</div>

	<ol class="relative border-s border-neutral-200 dark:border-neutral-700">
		<TimeLineElement
			title="Ingeniero Telemático"
			subtitle="2022 - 2025 en Universidad Distrital, Bogotá, Colombia"
		/>
		<TimeLineElement
			title="Tecnólogo en Sistematización de Datos"
			subtitle="2015 - 2021 en Universidad Distrital, Bogotá, Colombia"
		/>
	</ol>

	<!-- <div class="mb-5">
    <span class="text-3xl w-full font-bold">Certificaciones</span>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href=""
        target="_blank"
      >
        
        <span class="badge badge-primary"></span>
      </a>
    </li>
  </ul> -->

	<div class="mt-12 mb-8">
		<div class="text-4xl font-bold dark:text-white">Conocimentos y aptitudes</div>
	</div>

	<ul class="list-disc md:columns-5 columns-2 mx-6 dark:text-white">
		<li>TypeScript</li>
		<li>Amazon Web Services (AWS)</li>
		<li>Angular</li>
		<li>PostgreSQL</li>
		<li>Flutter</li>
		<li>Android</li>
		<li>Git & GitHub</li>
		<li>JavaScript</li>
		<li>React</li>
		<li>Java</li>
		<li>Spring Boot</li>
	</ul>
</BaseLayout>
