---
import BaseLayout from '@/layouts/BaseLayout.astro'
import About from '@/components/About.astro'
import Projects from '@/components/Projects.astro'
import Social from '@/components/Social.astro'
---

<BaseLayout>
	<div class="pb-12 mt-5">
		<div class="mt-12">
			<span class="block mb-1 text-xl py-1 opacity-7 dark:text-white/70"
				>Hola 👋</span
			>
			<h1
				class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-neutral-800 md:text-5xl lg:text-6xl dark:text-white"
			>
				Soy Alex
			</h1>
			<span
				class="block mb-1 text-3xl py-3 font-bold text-primary-600 contrast-200"
			>
				Desarrollador y estudiante de ingeniería telemática
			</span>
		</div>

		<About />
		<div class="mt-8">
			<Social />
		</div>
	</div>

	<div class="mb-12">
		<Projects />
	</div>
</BaseLayout>
