---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="Política de privacidad">
  <div class="prose prose-lg">
    <h1 class="mb-1">Política de Privacidad</h1>
    <p class="mt-1 text-base-content text-opacity-70">
      Última actualización: 18 julio 2023
    </p>

    <h2>Información que recopilamos</h2>
    <p>
      Nuestras aplicaciones web y móviles (en adelante nuestros productos o los
      productos) respetan y protegen su privacidad. No recopilamos información
      personal identificable de nuestros usuarios.
    </p>
    <p>
      En algunos casos, podemos recopilar datos anónimos y agregados para
      analizar el rendimiento y uso de nuestros productos. Estos datos se
      utilizan únicamente con fines estadísticos y no se pueden rastrear hasta
      un usuario específico.
    </p>

    <h2>Uso de datos recopilados</h2>
    <p>
      Los datos recopilados se utilizan exclusivamente para mejorar nuestros
      productos y comprender mejor las necesidades de nuestros usuarios. No
      compartiremos, venderemos ni divulgaremos estos datos a terceros sin su
      consentimiento previo, a menos que estemos legalmente obligados a hacerlo.
    </p>

    <h2>Cookies</h2>
    <p>
      Algunos de nuestros productos utilizan cookies, pero estas no son
      tecnologías similares de seguimiento.
    </p>

    <h2>Enlaces a sitios web de terceros</h2>
    <p>
      Nuestros productos pueden contener enlaces a sitios web de terceros. No
      somos responsables de las prácticas de privacidad ni del contenido de
      dichos sitios. Le recomendamos que revise las políticas de privacidad de
      los sitios web de terceros antes de proporcionar cualquier información
      personal.
    </p>

    <h2>Cambios en la política de privacidad</h2>
    <p>
      Podemos actualizar nuestra Política de Privacidad de vez en cuando. Le
      notificaremos cualquier cambio publicando la nueva Política de Privacidad
      en esta página.
    </p>

    <h2>Contacto</h2>
    <p>
      Si tiene alguna pregunta o inquietud acerca de nuestra Política de
      Privacidad, no dude en ponerse en contacto con nosotros a través del
      enlace de contacto situado en la parte superior de la página.
    </p>
  </div>
</BaseLayout>
