---
const { isCompact } = Astro.props;

const currentPath = Astro.url.pathname;

const menuItems = [
  {
    href: "/",
    text: "Inicio",
  },
  {
    href: "/projects",
    text: "Proyectos",
  },
  {
    href: "/blog/",
    text: "Blog",
  },
  {
    href: "/cv",
    text: "CV",
  },
  {
    href: "mailto:contacto@alextrs.dev",
    text: "Contacto",
  },
];
---

<ul
  class:list={[
    "menu gap-2",
    {
      "menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52":
        isCompact,
      "menu-horizontal px-1": !isCompact,
    },
  ]}
>
  {
    menuItems.map((item) => (
      <li>
        <a
          class:list={[
            'py-[6px]',
            {
              "bg-primary text-primary-content font-bold": currentPath === item.href,
            },
          ]}
          href={item.href}
        >
          {item.text}
        </a>
      </li>
    ))
  }
</ul>
