<p class="py-2 text-lg font-normal text-neutral-600 lg:text-xl dark:text-neutral-400">
	Tengo +4 años de experiencia en el desarrollo de aplicaciones web y móviles.
	He trabajado tanto en frontend como en backend, enfocándome en proyectos
	personales y de terceros. Trabajo con tecnologías como NextJs, Angular, Astro, NodeJS,
	MongoDB, MySQL, Java, SpringBoot, Flutter entre otras. En mi tiempo libre me gusta
	aprender cosas sobre tecnología.
</p>
