<p class="py-2 text-lg font-normal text-neutral-600 lg:text-xl dark:text-neutral-400">
	Más de 6 años de experiencia en desarrollo de aplicaciones móviles y web.
	Me enfrenté a un reto de realizar un cambio de JSF a Angular, React y SprintBoot para proyectos nuevos.
	Además desarrollé una aplicación móvil para una empresa americana para el manejo de su flota y geolocalización.
	Hice una plataforma móvil y web para la alcaldía municipal de Sopó, y he aportado a proyectos de reconocidos bancos.
</p>
