<h1 class="mt-16">
  <span class="block mb-1 text-xl py-1 opacity-70">Hola 游녦</span>
  <span class="block mb-1 text-5xl font-bold">Soy Alex</span>
  <span class="block mb-1 text-3xl py-3 font-bold text-primary contrast-150">
    Desarrollador y estudiante de ingenier칤a telem치tica
  </span>
</h1>
<p class="text-lg py-2 dark:text-white">
  Tengo +3 a침os de experiencia en el desarrollo de aplicaciones web y m칩viles.
  He trabajado tanto en frontend como en backend, enfoc치ndome en proyectos
  personales y de terceros. Trabajo con tecnolog칤as como React, Astro, NodeJS,
  MongoDB, MySQL, Java, Flutter entre otras. En mi tiempo libre me gusta
  aprender nuevas tecnolog칤as.
</p>
