<div class="text-xl py-1">Hola 游녦</div>
<div class="text-5xl font-bold">Soy Alex</div>
<div class="text-3xl py-3 font-bold">
  Desarrollador y estudiante de ingenier칤a telem치tica
</div>
<div class="py-2">
  <text class="text-lg">
    Tengo +3 a침os de experiencia en el desarrollo de aplicaciones web y m칩viles.
    He trabajado tanto en frontend como en backend, enfoc치ndome a proyectos
    personales y de terceros. Trabajo con tecnolog칤as como React, Astro, NodeJS,
    MongoDB, MySQL, Java, Flutter entre otras. En mi tiempo libre me gusta
    aprender nuevas tecnolog칤as.
  </text>
</div>
