---
import Social from "@components/Social.astro";
---

<footer class="footer footer-center flex flex-col gap-6 mb-6 pt-10">
	<Social />
	<div class="inline opacity-75 px-4">
		Creado por <span class="font-bold">Alex Torres</span> con el ❤️ y mucho ☕
	</div>
</footer>
