.footer {
  padding: 30px 0 0;

  .title {
    margin-bottom: 40px;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 560px) {
      flex-direction: column;
      align-items: flex-end;
    }

    a,
    a:visited {
      color: #16825a;
      text-decoration: none;

      &:hover {
        color: #39b788;
      }
    }

    .social {
      display: flex;
      align-items: center;

      @media screen and (max-width: 560px) {
        margin: 30px 0 0;
      }

      .item {
        margin-left: 15px;
      }
    }
  }

  .attribution {
    margin-top: 40px;
    text-align: end;

    .mini {
      height: 12px !important;
      vertical-align: middle;
    }
  }
}
