---
import { CollectionEntry } from 'astro:content'

export type Props = {
  previous: CollectionEntry<'blog'>
  next: CollectionEntry<'blog'>
}

const { previous, next } = Astro.props

const show = previous || next
---

{
  show && (
    <div class="flex justify-between">
      {previous ? (
        <a href={`${previous.slug}`} class="btn btn-ghost my-10 mr-5 md:pl-1">
          <svg
            class="h-6 w-6 fill-current md:h-8 md:w-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
          </svg>
          <span class="hidden md:inline">{previous.data.title}</span>
        </a>
      ) : (
        <div />
      )}
      {next ? (
        <a href={next.slug} class="btn btn-ghost my-10 ml-5 md:pr-1">
          <span class="hidden md:inline">{next.data.title}</span>
          <svg
            class="h-6 w-6 fill-current md:h-8 md:w-8"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
          </svg>
        </a>
      ) : (
        <div />
      )}
    </div>
  )
}
