.projects {
  padding: 30px 0 60px;

  .title {
    margin-bottom: 10px;
  }

  .content {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 748px) {
      flex-direction: column;
    }

    .item {
      flex-grow: 1;
      width: 47%;
      margin-top: 30px;

      @media screen and (max-width: 748px) {
        width: 100%;
      }

      .MuiTypography-h5 {
        font-weight: 500;
      }

      .MuiCardActionArea-root {
        height: 100%;
      }

      &:nth-child(2n) {
        margin-left: 30px;

        @media screen and (max-width: 748px) {
          margin: 30px 0 0;
        }
      }
    }
  }
}
