.page {
  min-height: 100vh;
  color: #ffffff;
  background-color: #1c2525;
  background-blend-mode: multiply;
  background-image: url("/images/background.jpg");

  .container {
    max-width: 1024px;
    margin: auto;
    padding: 40px;

    .twemoji {
      span {
        line-height: 0;
      }

      img {
        height: 36px;
        margin: 0 2px;
        vertical-align: -.2em;

        &.mini {
          height: 24px;
        }
      }
    }
  }
}
