body {
  margin: 0;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
  color: #16825a;
  text-decoration: none;
}
